.hero-section {
  flex-grow: 1;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40;
}

.hero-div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-evenly;
  align-items: center;
  max-width: 800px;
}

@media (max-width: 600px) {
  .hero-div {
    display: flex;
    flex-direction: column;

    margin: 40px;
  }
}
