.result-container {
  display: grid;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr 4fr;
  padding: 1rem;

  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.normal {
  background-color: green;
}
.warning {
  background-color: yellow;
}
.danger {
  background-color: red;
}
