.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 40vw;
}

label {
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
