.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 40vw;
}

.termsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
