.result-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.normal {
  background-color: green;
}
.warning {
  background-color: yellow;
}
.danger {
  background-color: red;
}
